p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.post {
  border: 1px solid rgba(000,000,000,0.2);
  padding: 10px;
  max-width: 650px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.post > h2 {
  margin: 0;
  padding: 0;
}

/* Your Code Goes Under This Line */
.full {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: black;
}

.outline {
  height: 100px;
  width: 100px;
  border-radius: 60px;
  border: 5px solid black;
  background-color: white;
}
